.inputGroup {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.addBtn {
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.tagsField {
    margin-top: 5px;
    color: blue;
}